h2{
    font-size: 2rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

h4{
    font-size: 1.5rem;
}

h5{
    font-size: 1.25rem;
}

p{
    margin-top: 0;
    margin-bottom: 1rem;
}

#sec1
{
    background-color:#9be604;
    color: #fff;
}

/* navbar */
.navbar-brand{
    font-size: 25px;
    margin-top: 5px;
}

.nav-item {
    padding: 0 15px;
    font-size: 18px;
}

/* slider img */
.slider
{
    align-items: center;
}
 
.row
{
    align-items: center;
    margin-left: -15px;
    margin-right: -15px;
}

.slider_img
{
    width: 100%;
    position: relative;
    z-index: 2;
}

span
{
    color: black;
}

.read-button
{
    border-radius: 35px;
    padding: 9px 35px;
}

/* card sec */
.card_sec{
    margin-top: 45px;
    text-align: center;
    background-color: #fff;
    color:black;
    padding: 75px 0;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.card_sec_container {
    display: flex;
    justify-content: center;
} 

.card_sec_card{
    margin: 45px 20px;
    width: 30%;
    height: 540px;
    min-width: 300px;
}

.card_sec_card .card_sec_detail{
    padding: 2px 25px 35px 25px;
    height: 420px;
    box-shadow: -1px 0px 25px 9px rgb(0 0 0 / 9%);
}

.card_sec_card .card_sec_img-box{
    width: 110px;
    height: 104px;
    margin: 50px auto;
}

.card_sec_card img{
    width: 100%;
    vertical-align: middle;
    border-style: none;
}

.read-btn{
    padding: 8px 25px;
    border: 2px solid #c4d70f;
    color: #c4d70f;
    border-radius: 35px;
    margin-top: 55px;   
}

/* portfolio */
.portfolio{
    text-align: center;
}

.padding-top{
    padding-top: 45px 0;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.portfolio_img{
    width: 100%;
    height: max-content;
    padding-top: 30px;
    padding-right: 10px;
    padding-bottom: 10px;
}

/* team_sec */
.team_sec
{
    background-color: #fff;
    color:black;
    text-align: center;
    padding: 75px 0;
}

.team_container {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #9BE604;
    padding:45px 0;
}

.team-card {
    width: 250px;
    padding: 5px 15px;
    margin: 35px 0;
}
.team-card img
{
    width: 100%;
}
.team-detail-box {
    width: 150px;
    margin: 35px auto 0 auto;
}
.team-follow h6 {
    color: #9BE604;
}
.team-social {
    display: flex;
    justify-content: space-between;
}

/* form_sec */
.form_sec{
    padding: 75px 0;
}

.form_sec p{
    color: #787877;
    text-align: center;
    font-size: 20px;
    margin-bottom: 0;
}

.form_sec h2{
    text-align: center;
}

.form_sec .row{
    align-items: center;
}

form{
    display: block;
    margin-top: 0rem;
}

.form-container{
    padding: 15px 0 15px 0;
}

.form_sec label{
    display: flex;
    flex-direction: column;
    color: #797879;
    margin-bottom: 25px;
}

.form_sec input, textarea{
    outline: none;
    border: 1px solid #c1c1c2;
    width: 90%;
    height: 45px;
    padding: 0 15px;
    margin-top: 5px;
}

.form_sec textarea{
    height: 175px;
}

.form_sec button{
    border-radius: 25px;
    background-color: #a0e711;
    color: white;
    padding: 12px 45px;
    border: none;
    font-size: 14px;
}

/* why sec */
.why_sec{
    text-align: center;
    padding: 75px 0;
}

.why_sec p{
    width: 85%;
    margin: 35px auto 0 auto;
}

/* info sec */
.info_sec{
 background-color: black;
 color: white;   
}
.signform
{
    background-color: #20c997;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding: 0 30px;
}
.signform h2{
    color: #6c757d;
    padding: 25px 10px;
}
.signform hr{
    height: 1px;
    color: #6c757d;
}
.signform label{
        display: flex;
        flex-direction: column;
        color: #6c757d;
        margin-bottom: 5px;
}
.signform input{
    width: 100%;
    border-radius: 25px;
}
.signform button{
    background-color: #797879;
    border: none ;
    color: #fff;
    padding: 12px 45px;
    font-size: 14px;
    border-radius: 25px;
    margin: 2rem
}
.clearfix {
    margin-top: 20px;
    padding: 20px 338px;
    align-items: center;
}